.container {
    font-family: Fredoka One;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    background-color: #1e005a33;
    max-width: 320px;
    padding: 20px;
    border-radius: 15px
}

.titulo {
    font-size: 1.2rem;
    font-weight: 100;
    text-align: center;
    padding-bottom: 15px
}

.contador {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    background-color: white;
    border-radius: 15px;
    padding: 2px 15px
}

.btnSR {
    margin: 10px;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 25px;
    background-color: #1e005a;
    color: #ffffff;
    font-weight: 500;
    border: #1e005a 2px solid;
}

.btnSR:hover{
    color: #1e005a;
    background-color: #f3e816;
    transition: 600ms ease;
    cursor: pointer;
}

.btnAddCart {
    display: flex;
    align-items: center;
    font-family: Fredoka One;
    font-size: 1rem;
    margin: 10px;
    padding: 8px;
    width: auto;
    border-radius: 15px;
    background-color: #f3e816;
    border: #1e005a solid 2px
}

.btnAddCart:hover{
    color: #ffffff;
    background-color:#1e005a;
    border: #f3e816 solid 2px;
    transition: 800ms ease;
    cursor: pointer;
}