.titulo {
    margin: 20px;
    text-align: center;
}

.titulo h1{
    font-family: "Fredoka One";
    color: #000531;
    text-transform: Uppercase;
    font-size: 3rem;
}

.itemList {
    display: grid;
    justify-content: center;
    grid-template-columns: auto auto auto;
    gap: 1rem;
}

@media (max-width: 767px) {
    html{
        font-size: 80%;
    }
    .itemList {
        grid-template-columns: auto auto
    }
    svg{
        width: 250px;
    }
}

@media (max-width: 467px) {
    .itemList {
        grid-template-columns: auto
    }
}