* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border:0;
  }

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
    background-color: #1e005a;
    color: white;
    font-family: "Fredoka One";
    text-transform: uppercase;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.logo {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

.logo h1 {
    margin-left: 10px;
    font-size: 2rem;
    font-weight: 400;
}

.logo img {
    width: 100%;
    height: auto;
    max-width: 110px;
}

.nav-links a {
    margin: 0;
    color: white;
    text-decoration: none;
}

.menu {
    display: flex;
    gap: 2em;
    font-size: 22px;
    z-index: 10;
}

.menu li:hover {
    background-color: #5400fc;
    border-radius: 5px;
    transition: 600ms ease;
}

.menu li {
    padding: 5px 14px;
    list-style: none;
}

/* menú hamburguesa */
input[type=checkbox] {
    display: none;
}

.hamburger {
    display: none;
    font-size: 32px;
    user-select: none;
}

.logoMobile {
    display: none;
}

/* barra de navegacion tablet/mobile */

@media screen and (max-width: 1041px) {
    .menu {
        display: none;
        position: absolute;
        background-color: #1e005a;
        font-size: 14px;
        left: 3rem;
        text-align: center;
        padding: 16px 0;
        width: auto;
    }

    .nav-links ul{
        margin: 0;
    }

    .menu li:hover {
        display: inline-block;
        background-color: #5400fc;
        transition: 0.3s ease;
    }

    .menu li+li {
        margin-top: 12px;
    }

    input[type=checkbox]:checked~.menu {
        display: block;
    }

    .hamburger {
        display: block;
    }

    .logo {
        display: none;
    }

    .logoMobile {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .logoMobile h1 {
        margin-left: 10px;
        font-size: 1.5rem;
        font-weight: 400;
    }
    
    .logoMobile img {
        display: block;
        width: 15%;
        height: auto;
    }

}